## SQL для выгрузки данных из реляционной БД в Pandas

In [ ]:
# Hostname: hh-pgsql-public.ebi.ac.uk
# Port: 5432
# Database: pfmegrnargs
# User: reader
# Password: NWDMCE5xdipIjRrp

In [ ]:
from sqlalchemy import create_engine
import pandas as padas
engine = create_engine('postgresql://reader:NWDMCE5xdipIjRrp@hh-pgsql-public.ebi.ac.uk:5432/pfmegrnargs')
data_frame = padas.read_sql_query('SELECT * FROM rnc_rna_precomputed precomputed limit 10;', engine)

In [ ]:
data_frame.head()

                      id  ...                                  short_description
0    URS0000913919_77133  ...  uncultured bacterium Bacterial small subunit r...
1          URS000091391A  ...                                rRNA from 1 species
2  URS0000DC9A1C_1075778  ...                                           tRNA-Phe
3          URS00001A12F6  ...                                               rRNA
4    URS000091391A_77133  ...  uncultured bacterium Bacterial small subunit r...

[5 rows x 12 columns]

## REST API с библиотекой requests


      /posts	100 posts
      /comments	500 comments
      /albums	100 albums
      /photos	5000 photos
      /todos	200 todos
      /users	10 users

In [ ]:
import requests
import json


res = requests.get("https://jsonplaceholder.typicode.com/posts/1")
json.loads(res.content)

{u'body': u'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto',
 u'id': 1,
 u'title': u'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
 u'userId': 1}

In [ ]:
data = {u'body': u'Hi There this is my first post',
 u'id': 501,
 u'title': u'first post',
 u'userId': 1}

res = requests.post("https://jsonplaceholder.typicode.com/posts",data=data)
res.text

u'{\n  "body": "Hi There this is my first post",\n  "userId": "1",\n  "id": 101,\n  "title": "first post"\n}'